[Desktop Entry]
Name=Uchar
GenericName=Matrix Client
Comment=Chat with your friends
Exec=uchar
Icon=${SNAP}/meta/gui/uchar.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
